[submodule "plugins/pack/vendor/start/vim-smoothie"]
	path = plugins/pack/vendor/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie
[submodule "plugins/pack/vendor/start/nvim-autopairs"]
	path = plugins/pack/vendor/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "plugins/pack/vendor/start/lightline.vim"]
	path = plugins/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
